/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:16px;line-height:1.5;font-family:'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;color:#666}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* layout */
.headerWrap{padding:5px 0;font-size:13px;color:#fff;background:#000;-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3);box-shadow;0px 0px 10px 0px rgba(0,0,0,0.4);text-align:center}
.container{overflow:hidden;padding:50px 10px}
.footer{text-align:center}
/* common */
.list_todo{overflow:hidden}
.btn_comm{width:100px;height:36px;margin-right:10px;border:1px solid #1e1e1e}
.btn_comm:hover{color:#fff;background-color:#000}
/* list common */
.list_todo .btn_modify:hover{color:#fff;background-color:#000}
.list_todo .btn_del:hover{color:#fff;background-color:#000}
.list_todo li{overflow:hidden}
.list_todo li .todo_info{float:left}
.list_todo li .todo_btn{float:right}
/* form */
.form_todo{overflow:hidden;position:relative;padding:10px 144px 0 0}
.form_todo .input_comm{width:100%;height:34px;padding:0 10px}
.form_todo .btn_submit{position:absolute;bottom:0;right:0}
