@charset 'utf-8';

//variable - 변수
// mixin - 함수
//



// 변수로 담아서 사용,변수는 무조건 $로 시작
$Black : #000;

//믹스인 - 함수
@mixin absolueLP($left,$top){
    position:absolute;
    left:$left;
    top:$top;
}


//텍스트 말줄임
@mixin text-overflow($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	@if($line == 1) {
		white-space: nowrap;
	}
	@else {
		display: -webkit-box;
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
	}
}

body{
    padding: 0;
    margin:0;
}

ul,dl{
    li{
        list-style:none
    }

}
.wrap{
    position:relative;
    .tit_header{
        //믹스인을 가져와서 쓸떄는 인클루드로 사용한다.
        @include absolueLP(10px,10px);
        &:after{
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:20px;
            height:20px;
            background-color:pink;
        }
    }

}
